# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Sublime cache
Sublime Text 2/Packages/User/Package Control.cache
Sublime Text 3/Packages/User/Package Control.cache
